.background {
    -fx-background-color: #383838;
    -fx-font-size: 11 px;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #7FDBFF;
    -fx-opacity: 0.6;
    font-style: italic;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #7FDBFF;
    -fx-opacity: 1;
    font-style: italic;
}
#title1{
    -fx-font-size: 28pt;
    -fx-text-fill: #7FDBFF;
    -fx-border-color: #7FDBFF, #7FDBFF;
    -fx-background-color: black;
    -fx-border-radius: 5px;
}

#title2{
    -fx-font-size: 14pt;
    -fx-text-fill: #7FDBFF;
    -fx-border-color: #7FDBFF, #7FDBFF;
    -fx-background-color: black;
    -fx-border-radius: 5px;
    -fx-alignment: centre;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #7FDBFF;
    -fx-opacity: 1;
    font-style: italic;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    font-style: italic;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

#init{
    -fx-font-size: 22pt;
    -fx-text-fill: #7FDBFF;
    -fx-border-color: #7FDBFF, #7FDBFF;
    -fx-background-color: black;
    -fx-border-radius: 5px;
}
#test{
    -fx-font-size: 22pt;
    -fx-text-fill: #7FDBFF;
    -fx-border-color: #7FDBFF, #7FDBFF;
    -fx-background-color: black;
    -fx-border-radius: 5px;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #7FDBFF;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    font-style: italic;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-selection-bar: derive(-fx-background,-7%);
    -fx-border-color: #7FDBFF;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #7FDBFF;
    -fx-opacity: 0.9;

}

.menu-item .label {

    -fx-content-display: block;
    -fx-text-fill:  #7FDBFF;
}

.menu-item:focused {
    -fx-background-color: white;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    font-style: italic;
}



/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #7FDBFF;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #7FDBFF;;
    font-style: italic;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
#fileChooser1{
    -fx-background-color: transparent;
}

#fileChooser2{
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-opacity: 1;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #7FDBFF;
  -fx-text-fill: #1d1d1d;
    -fx--fx-font-style : italic;
}

.button:focused {
    -fx-border-color: #7FDBFF, #7FDBFF;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #7FDBFF;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}